<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Server-side rendering</title>
  </head>
  <body>
    <h1>KhoaPham ReactJS</h1>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>
</html>
